html {
  scroll-behavior: smooth;
}

body {
    background-color: #021024 !important;
}

header {
    margin: auto;
    display: flex;
    position: sticky;
    z-index: 10;
    top: 5px;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    padding: 8px;
    border-radius: 10px;
    background-color: #052659;
}

header a {
    text-decoration: none;
}

#logo_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#logo_block h1 {
    color: #c1e8ff;
}

#logo {
    width: 100px;
    padding: 4px;
    border-radius: 50%;
}

nav {
    margin-right: 4%;
}

nav ul {
    margin: 0;
}

#menu {
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-weight: bold;
    font-size: x-large;
}

#menu a {
    text-decoration: none;
    color: #c1e8ff;
}

main {
    max-width: 90%;
    margin: auto;
}

.main__block {
    background-color: #052659;
    padding: 12px;
    margin-top: 2%;
    border-radius: 10px;
}

main h1 {
    padding: 4px;
    color: #c1e8ff;
}

#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2%;
    max-width: 90%;
    padding: 8px;
    border-radius: 10px;
    background-color: #052659;
}

footer div {
    color: #c1e8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scroller {
    position: sticky;
    bottom: 10%;
    left: 92%;
    width: 64px;
    visibility: hidden;
}

#media__links {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#media__links a {
    text-decoration: none;
    color: #c1e8ff;
}

#useful__links a {
    text-decoration: none;
    color: #c1e8ff;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
        flex-wrap: wrap;
    }

    nav {
        margin: auto;
    }

    #logo {
        width: 50px;
    }

    #logo_block h1 {
        font-size: x-large;
    }

    #menu {
        font-size: medium;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    .main__block {
        margin-top: 5%;
    }

    .main__block h1 {
        font-size: large;
    }

    footer {
        gap: 20px;
        font-size: small;
    }

    #scroller {
        left: 80%;
        bottom: 5%;
    }
}