.card-img-top {
    max-height: 18rem;
    padding: 2px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.main__block {
    color: #c1e8ff;
}

#big-map {
    display: block;
    background-color: #5483b3;
    width: 100%;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
}

#small-map {
    display: none;
    width: auto;
    min-width: 45%;
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
}

#address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column__block {
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
    min-width: 50%;
    max-width: 75%;
    width: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c1e8ff;
}

@media (max-width: 768px) {
    .column__block {
        min-width: 90%;
    }

    .column__block h2 {
        font-size: medium;
    }

    .column__block h4 {
        font-size: medium;
    }

    #small-map {
        display: block;
    }

    #big-map {
        display: none;
    }
}