.card-img-top {
    height: 16rem;
    padding: 2px;
}

#introduction {
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
}

#introduction p {
    font-size: x-large;
    text-align: justify;
    font-weight: bold;
    color: #c1e8ff;
}

#location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

}

.column__block {
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
    min-width: 40%;
    max-width: 90%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c1e8ff;
}

#questions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#send__form {
    background-color: #5483b3;
    padding: 20px;
    border-radius: 10px;
}

#personal__info {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

#send__form input {
    min-width: 400px;
    border-radius: 10px;
}

textarea {
    min-width: 400px;
    height: 100px;
    border-radius: 10px;
}

#send__button {
    margin-top: 2%;
    width: 100%;
}

#scroller {
    position: sticky;
    bottom: 10%;
    left: 92%;
    width: 64px;
    visibility: hidden;
}