.card-img-top {
    height: 16rem;
    padding: 2px;
}

#introduction {
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
}

#introduction p {
    font-size: x-large;
    text-align: justify;
    font-weight: bold;
    color: #c1e8ff;
}

#location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

}

.column__block {
    background-color: #5483b3;
    border-radius: 10px;
    padding: 4px;
    min-width: 40%;
    max-width: 90%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #c1e8ff;
}

#questions {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#send__form {
    background-color: #5483b3;
    padding: 20px;
    border-radius: 10px;
}

#personal__info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: column;
}

#send__form input {
    min-width: 400px;
    border-radius: 10px;
}

textarea {
    min-width: 400px;
    height: 150px;
    border-radius: 10px;
}

#send__button {
    margin-top: 2%;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
}

#scroller {
    position: sticky;
    bottom: 10%;
    left: 92%;
    width: 64px;
    visibility: hidden;
}

#send__button:hover {
    background: linear-gradient(to bottom right, darkgreen, lawngreen);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7),
              inset 0 0 20px rgba(255, 255, 255, 0.7);
    transition: all 0.4s ease-in-out;
}