@import url('settings.css');

.main__block h2 {
    color: var(--text-color);
    padding: 8px;
}

.info__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.image__block img {
    width: 36rem;
    border-radius: 10px;
}

.text__block {
    background-color: var(--text-block-color);
    color: var(--text-color);
    font-size: large;
    text-align: justify;
    padding: 6px;
    border-radius: 10px;
    width: 60%;
}

@media (max-width: 768px) {
    .main__block h2 {
        font-size: large;
    }

    .info__block {
        flex-direction: column;
        gap: 15px;
    }

    .image__block img {
        width: 20rem;
    }

    .text__block {
        width: 95%;
        font-size: medium;
    }

    .text__block h4 {
        font-size: large;
    }
}