.card {
    width: 30rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card-img-top {
    padding: 2px;
}

.full-info {
    display: none;
}

.modal-title {
    color: #000;
}